<!DOCTYPE html>
<html lang="en">
  
<app-master-side-nav-bar *ngIf="userTypeID == 1"></app-master-side-nav-bar>
<app-side-nav-bar *ngIf="userTypeID == 2"></app-side-nav-bar>
  
<div class="gap-container"></div>
  
<div class="back-container">
  <i class="bi bi-arrow-left-circle back-icon" routerLink="/supplier"></i>
  <h1 class="heading">AVS Fitness Suppliers</h1>
  <span class="help-icon-container">
      <a class="navbar-brand help-icon" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">
          <i class="bi bi-info-circle-fill">Help</i>
      </a>
  </span>
</div>

  
  
  <div class="form-container">
    <div class="form-header">
      <h3>Place Supplier Order <i class="bi bi-clipboard-plus clipboard-icon"></i></h3>
      <div class="date">Date: {{ currentDate | date:'yyyy/MM/dd' }}</div>
    </div>
    <form [formGroup]="orderForm">
      <div class="form-group">
        <label for="productCategory">Select Product Category:</label>
        <select id="productCategory" formControlName="productCategory" (change)="onCategoryChange($event)">
          <option *ngFor="let category of productCategories" [value]="category.product_Category_ID">{{ category.category_Name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="product">Select Product:</label>
        <select id="product" formControlName="product" (change)="onProductChange($event)">
          <option *ngFor="let product of products" [value]="product.product_ID">{{ product.product_Name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quantity">Select Quantity:</label>
        <input id="supplierQuantity" type="number" formControlName="supplierQuantity" min="1">
      </div>
      <div class="form-group">
        <label for="orderDetails">Add Order Details:</label>
        <textarea id="orderDetails" formControlName="orderDetails"></textarea>
      </div>
      <div class="form-group">
        <label for="purchasePrice">Purchase Price per Item:</label>
        <input id="purchasePrice" type="number" formControlName="purchasePrice" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="totalPrice">Total Price:</label>
        <input id="totalPrice" type="number" formControlName="totalPrice" [disabled]="true">
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="orderForm.invalid" (click)="placeOrder()">Place Order</button>
        <a class="cancel" routerLink="/supplier"><button type="button">Cancel</button></a>
      </div>
    </form>
  </div>


  <!-- help-modal.component.html -->
  <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h5 class="modal-title mx-auto" id="helpModalLabel">Help Guide</h5>
          <div class="search-bar-container">
            <input type="text" class="form-control search-bar" placeholder="Search help" [(ngModel)]="searchTerm" (input)="filterHelpContent()">
          </div>
        </div>
        <div class="modal-body">
          <div *ngFor="let item of filteredContent">
            <h5>{{ item.title }}</h5>
            <p [innerHTML]="item.content"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>