<a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">
  <i class="bi bi-info-circle-fill"> Help</i>
</a>
<h2>Edit Inventory Item</h2>
<div class="form-container">
  <form #formCtrl="ngForm" [formGroup]="registerFormGroup">
    <div>
      <label for="itemName">Inventory Item Name:</label>
      <input type="text" id="itemName" name="itemName" [(ngModel)]="item.itemName" required size="35" maxlength="20"  formControlName="name">

      
      <div *ngIf="registerFormGroup.controls['name'].invalid && (registerFormGroup.controls['name'].dirty || registerFormGroup.controls['name'].touched)" class="text-danger">
        <div *ngIf="registerFormGroup.controls['name'].errors?.['required']">Item Name is required.</div>
        <div *ngIf="registerFormGroup.controls['name'].errors?.['minlength']">Item Name must be at least 2 characters long.</div>
        <div *ngIf="registerFormGroup.controls['name'].errors?.['maxlength']">Item Name must be at most 20 characters long.</div>
    </div>

    </div>

    <div>
      <label for="category">Inventory Category:</label>
      <!-- <input type="text" id="category" name="category" [(ngModel)]="item.category" required size="35"  formControlName="category"> -->

      <select id="category" name="category" [(ngModel)]="item.category" required formControlName="category">
        <option *ngFor="let category of productCategories" [value]="category.category_Name">{{ category.category_Name }}</option>
      </select>

      <div *ngIf="registerFormGroup.controls['category'].invalid && (registerFormGroup.controls['category'].dirty || registerFormGroup.controls['category'].touched)" class="text-danger">
        <div *ngIf="registerFormGroup.controls['category'].errors?.['required']">Category is required.</div>
        </div>
    </div>

    <div>
      <label for="supplier">Select Supplier:</label>
      <select id="supplier" name="supplier" [(ngModel)]="item.supplierID" required  formControlName="supplier">
        <option *ngFor="let supplier of suppliers" [value]="supplier.supplier_ID">{{ supplier.name }}</option>
      </select>

      
      <div *ngIf="registerFormGroup.controls['category'].invalid && (registerFormGroup.controls['category'].dirty || registerFormGroup.controls['category'].touched)" class="text-danger">
        <div *ngIf="registerFormGroup.controls['category'].errors?.['required']">Category is required.</div>
        </div>

    </div>

    <div class="buttons">
      <button type="button" [disabled]="!formCtrl.form.valid" (click)="updateInventory()">Save</button>

        <button class="cancel" routerLink="/inventory" type="button">Cancel</button>
    </div>


  </form>
</div>


  
<!-- help-modal.component.html -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title mx-auto" id="helpModalLabel">Help Guide</h5>
        <div class="search-bar-container">
          <input type="text" class="form-control search-bar" placeholder="Search help" [(ngModel)]="searchTerm" (input)="filterHelpContent()">
        </div>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of filteredContent">
          <h5>{{ item.title }}</h5>
          <p [innerHTML]="item.content"></p>
        </div>
      </div>
    </div>
  </div>
</div>
