<!DOCTYPE html>
<html lang="en">
  <a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">
    <i class="bi bi-info-circle-fill"> Help</i>
  </a>
<h2>Edit Slot</h2>
<form #bookingSlotForm="ngForm" [formGroup]="registerFormGroup" class="booking-form">
  <!-- Select Date and Time -->
  <div class="form-group">
    <label for="timepicker" class="timepicker-label">Select Date and Time</label>
    <input 
        type="datetime-local" 
        id="timepicker" 
        name="selectedTime" 
        required 
        class="timepicker-input" 
        [min]="minDate"
        [(ngModel)]="timeSlot.date"   
        (ngModelChange)="onDateChange($event)" 
        formControlName="date" 
    />
    
    <div *ngIf="registerFormGroup.controls['date'].invalid && (registerFormGroup.controls['date'].dirty || registerFormGroup.controls['date'].touched)" class="text-danger">
        <div *ngIf="registerFormGroup.controls['date'].errors?.['required']">Date and time is required.</div>
    </div>

      

  </div>

  <!-- Lesson Plan Dropdown -->
  <div class="form-group">
    <label for="lessonPlanDropdown">Select Lesson Plan</label>
    <select id="lessonPlanDropdown" class="form-control" name="lesson_Plan" [(ngModel)]="selectedPlan" required formControlName="program">
      <option *ngFor="let plan of plans" [value]="plan.lesson_Plan_ID">{{ plan.program_Name }}</option>
    </select>

    <div *ngIf="registerFormGroup.controls['program'].invalid && (registerFormGroup.controls['program'].dirty || registerFormGroup.controls['program'].touched)" class="text-danger">
      <div *ngIf="registerFormGroup.controls['program'].errors?.['required']">Program is required.</div>
      </div>

  </div>

  <!-- Employee Dropdown -->
  <div class="form-group">
    <label for="trainerDropdown">Assign Trainer</label>
    <select id="trainerDropdown" class="form-control" name="employee" [(ngModel)]="selectedEmployee" required formControlName="trainer">
      <option *ngFor="let employee of employees" [value]="employee.employee_ID">{{ employee.employee_name }}</option>
    </select>


    <div *ngIf="registerFormGroup.controls['program'].invalid && (registerFormGroup.controls['program'].dirty || registerFormGroup.controls['program'].touched)" class="text-danger">
      <div *ngIf="registerFormGroup.controls['program'].errors?.['required']">Program is required.</div>
      </div>

  </div>

  <div class="buttons">
    <button type="submit" class="submit" [disabled]="!bookingSlotForm.form.valid" (click)="UpdateTimeSlot()">Save</button>
    <a routerLink="/booking-slot">
      <button type="button" class="cancel">Cancel</button>
    </a>
  </div>
</form>



  
<!-- help-modal.component.html -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title mx-auto" id="helpModalLabel">Help Guide</h5>
        <div class="search-bar-container">
          <input type="text" class="form-control search-bar" placeholder="Search help" [(ngModel)]="searchTerm" (input)="filterHelpContent()">
        </div>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of filteredContent">
          <h5>{{ item.title }}</h5>
          <p [innerHTML]="item.content"></p>
        </div>
      </div>
    </div>
  </div>
</div>

</html>
