.dropdown {
    position: relative;
    width: auto;
    float: right; /* Float to the right */
    margin-right: 15px; /* Add some space from the right margin */
  }
  
  .dropdown-select {
    background-color: #6c757d; /* Button background color */
    color: white; /* Text color */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center text */
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none; /* Remove default styling in Mozilla browsers */
  }
  
  .dropdown-select:focus {
    outline: none; /* Remove default outline on focus */
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5); /* Add focus shadow */
  }
  
  .dropdown-select option {
    padding: 10px 15px; /* Padding for options */
    font-size: 16px; /* Font size for options */
    color: #333; /* Text color for options */
  }
  
  .dropdown-select option:hover {
    background-color: #f2f2f2; /* Hover background color for options */
    color: #000; /* Hover text color for options */
  }
  