.header-search-container {
    display: flex;
    align-items: center;
    padding: 0px 50px 0px 220px; /* Adjust the padding as needed */
}

.header-icon {
    font-size: 3rem; /* Adjust the size as needed */
}

.header-title {
    flex-grow: 1;
    text-align: center;
    padding-right: 70px;
}

.search-bar-container {
    margin-left: auto;
    padding-right: 70px; /* Adjust the padding as needed */
}

.search-bar {
    width: 300px; /* Adjust the width as needed */
}