<!DOCTYPE html>
<html lang="en">
  
<app-master-side-nav-bar *ngIf="userTypeID == 1"></app-master-side-nav-bar>
<app-side-nav-bar *ngIf="userTypeID == 2"></app-side-nav-bar>
  
<div class="gap-container"></div>

<div class="header-search-container">
    <i class="bi bi-arrow-left-circle header-icon" (click)="goBack()"></i>
    <h1 class="header-title">Overdue Order Status Settings</h1>
  </div>
  
  <div class="view-overdue-settings-container">
      <p><strong>Overdue Time:</strong> {{overdueSettings?.overdueTimeValue}} {{overdueSettings?.overdueTimeUnit}}</p>
      <button mat-raised-button color="primary" (click)="openEditModal()">Update Settings</button>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Update Overdue Time</h5>
          </div>
          <div class="modal-body">
            <form [formGroup]="overdueSettingsForm">
              <div class="form-group">
                <label for="overdueTime">Overdue Time:</label>
                <input type="number" id="overdueTime" formControlName="value" class="form-control" name="overdueTime">
              </div>
              <div class="form-group">
                <label for="timeUnit">Time Unit:</label>
                <select id="timeUnit" formControlName="unit" class="form-control" name="timeUnit">
                  <option value="Minutes">Minutes</option>
                  <option value="Hours">Hours</option>
                  <option value="Days">Days</option>
                  <option value="Weeks">Weeks</option>
                  <option value="Months">Months</option>
                  <option value="Years">Years</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="saveDeletionSettings()">Update</button>
          </div>
        </div>
      </div>
  </div>