.header-search-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding: 50px 50px 0px 70px; /* Adjust the padding as needed */
}

.gap-container {
  margin-top: calc(15px - 102vh); /* Adjusts based on viewport height */
}

.header-icon {
    font-size: 3rem; /* Adjust the size as needed */
}

.header-title {
    flex-grow: 1;
    text-align: center;
    padding-left: 70px;
}

/* help-modal.component.css */
.modal-dialog {
    max-width: 75%; /* Adjust the percentage as needed */
  }

.modal-dialog-scrollable {
    max-height: calc(100vh - 100px);
  }
  
  
  .modal-content {
    overflow-y: auto;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    flex-grow: 1;
    text-align: center;
  }
  
  .btn-close {
    margin-right: auto;
  }

  .search-bar-container {
    margin-left: auto;
  }

  .modal-body hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .modal-body h5 {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .modal-body ul, .modal-body ol {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  