<a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">
    <i class="bi bi-info-circle-fill"> Help</i>
  </a>
<h2>Create Workout Catgeory</h2>
<div class="form-container">
    <form #formCtrl="ngForm" [formGroup]="registerFormGroup">
        <div>
            <label for="name">Category Name:</label>
            <input type="text" id="name" name="name" required [(ngModel)]="categoryName" size="35" placeholder="e.g Cardio" maxlength="20" formControlName="name">

            <div *ngIf="registerFormGroup.controls['name'].invalid && (registerFormGroup.controls['name'].dirty || registerFormGroup.controls['name'].touched)" class="text-danger">
                <div *ngIf="registerFormGroup.controls['name'].errors?.['required']">Category Name is required.</div>
                <div *ngIf="registerFormGroup.controls['name'].errors?.['minlength']">Category Name must be at least 2 characters long.</div>
                <div *ngIf="registerFormGroup.controls['name'].errors?.['maxlength']">Category Name must be at most 20 characters long.</div>
              </div>

        </div>
        <div>
            <label for="duration">Category Description:</label>
            <input type="text" id="duration" name="duration" required [(ngModel)]="categoryDescription" size="35"maxlength="100" placeholder="e.g Workouts that get the heart rate up" formControlName="description">

            <div *ngIf="registerFormGroup.controls['description'].invalid && (registerFormGroup.controls['description'].dirty || registerFormGroup.controls['description'].touched)" class="text-danger">
                <div *ngIf="registerFormGroup.controls['description'].errors?.['required']">Description is required.</div>
                <div *ngIf="registerFormGroup.controls['description'].errors?.['minlength']">Description must be at least 10 characters long.</div>
                <div *ngIf="registerFormGroup.controls['description'].errors?.['maxlength']">Description must be at most 100 characters long.</div>
        
            </div>

        </div>

       
        <div class="buttons">
            <a class="add" ><button type="submit" [disabled]="!formCtrl.form.valid" (click)="addCategory(categoryName, categoryDescription)" >Add</button></a>
    
            <a class="cancel" routerLink="/workout-category"><button type="button">Cancel</button></a>
        </div>
    </form>

    </div>

      
  
<!-- help-modal.component.html -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h5 class="modal-title mx-auto" id="helpModalLabel">Help Guide</h5>
          <div class="search-bar-container">
            <input type="text" class="form-control search-bar" placeholder="Search help" [(ngModel)]="searchTerm" (input)="filterHelpContent()">
          </div>
        </div>
        <div class="modal-body">
          <div *ngFor="let item of filteredContent">
            <h5>{{ item.title }}</h5>
            <p [innerHTML]="item.content"></p>
          </div>
        </div>
      </div>
    </div>
  </div>