.report-container {
  font-family: Arial, sans-serif;
/* Centers text content inside the container */
}

.report-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the entire header content */
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.logo img{
  float: left;
}


.report-details {
  flex: 1;
  text-align: center; /* Centers text within the report-details section */
}

.report-title {
  margin: 0;
  font-size: 40px;
  text-align: center; /* Centers the title */
}

.company-name {
  margin: 0;
  font-size: 30px;
  text-align: center; /* Centers the title */
}


.summary-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.summary-card {
  width: 300px;
  margin: 0 10px;
  text-align: center;
}

.category-section {
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}


.report-content th{
  background-color: #f4f4f4;
  text-align: left;
}

.subtotal-row {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
}


.grand-total{
  margin-top: 10px;
}