
<div class="container">
<app-master-side-nav-bar *ngIf="userTypeID == 1"></app-master-side-nav-bar>
<app-side-nav-bar *ngIf="userTypeID == 2"></app-side-nav-bar>
<div style="margin-top: 40px"></div> <!-- Adjusted margin for spacing -->
  <app-contract-dropdown-nav></app-contract-dropdown-nav>
    <div class="navigation">
      <i class="bi bi-arrow-left-circle back-icon" (click)="goBack()"></i>
      <div class="page-title">
        <h1>Contract Manager</h1>
      </div>
    </div>
  
    <!-- Modal for help information -->
    <div class="modal" id="helpModalApprove" style="display: none;">
      <div class="modal-content">       
        <h2>Help Information</h2>
        <p>Here are some instructions to help you fill out the forms:</p>
        <ul>
          <li><strong>Approve Contract:</strong> Enter the member ID and contract ID to approve the contract. If you need the information for the form navigate to "Members Awaiting Approval"
          to see this information</li>
        </ul>
        <button class="btn btn-secondary" (click)="closeHelpModal()">Close</button>
      </div>
    </div>
  
    <div class="forms-container">
      <!-- Approve Contract Form -->
      <div class="form-section">
        <h2>Approve Contract  <i class="bi bi-info-circle" (click)="openHelpModal('approve')"></i></h2>
        <form [formGroup]="approveForm" (ngSubmit)="approveContract()">
          <div class="form-group">
            <label>Member ID</label>
            <input type="text" class="form-control" placeholder="Enter Member ID" formControlName="Member_ID" />
            <div *ngIf="approveForm.get('Member_ID')?.invalid && (approveForm.get('Member_ID')?.dirty || approveForm.get('Member_ID')?.touched)" class="text-danger">
              Member ID is required
            </div>
          </div>
          <div class="form-group">
            <label>Contract ID</label>
            <input type="text" class="form-control" placeholder="Enter Contract ID" formControlName="Contract_ID" />
            <div *ngIf="approveForm.get('Contract_ID')?.invalid && (approveForm.get('Contract_ID')?.dirty || approveForm.get('Contract_ID')?.touched)" class="text-danger">
              Contract ID is required
            </div>
          </div>
          <button type="submit" class="btn btn-secondary">Activate Contract</button>
        </form>
      </div>
    </div>
  </div>
