<div class="container-fluid">
    <app-master-side-nav-bar></app-master-side-nav-bar>
    <div style="margin-top: 10px"></div> <!-- Adjusted margin for proper spacing -->
    <div class="prodManager-container">
      <div class="header-search-container">
        <i class="bi bi-arrow-left-circle header-icon" (click)="goBack()"></i>
        <h1 class="header-title">Product Manager</h1>
      </div>
  
      <div class="content">
        <div class="menu-container" style="margin-bottom: 400px;">
          <div class="row">
            <div class="col-6">
              <label>
                <span class="menu-item">
                  <i class="bi bi-filter"></i>
                  <a routerLink="/product-type">Product Types</a>
                </span>
              </label>
            </div>
            <div class="col-6">
              <label>
                <span class="menu-item">
                  <i class="bi bi-tags"></i>
                  <a routerLink="/product-category">Product Categories</a>
                </span>
              </label>
            </div>
            <div class="col-6">
              <label>
                <span class="menu-item">
                  <i class="bi bi-box-seam"></i>
                  <a routerLink="/product-management">Products</a>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  