.header-search-container {
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding: 0px 50px 0px 220px; /* Adjust the padding as needed */
  }
  
  .header-icon {
    font-size: 3rem; /* Adjust the size as needed */
  }
  
  .header-title {
    flex-grow: 1;
    text-align: center;
    padding-right: 200px;
  }
  
  /* Ensure the header is visible and not covered by the navbar */
  .prodManager-container {
    padding-top: 20px; /* Adjust based on the height of the navbar */
    box-sizing: border-box;
    position: relative;
  }
  /* Ensure the container takes the full viewport height minus the header */
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* Use full viewport height */
    margin-top: 0px; /* Adjust to move the content up */
  }
  
  .navigation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-icon {
    cursor: pointer;
    margin-right: 20px;
    font-size: 3em; /* Three times the current size */
  }
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 420px; /* Adjust based on desired width */
  }
  
  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Add padding to create space between tiles */
  }
  
  label {
    cursor: pointer;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-primary);
    color: white;
    width: 200px; /* Enlarge the tiles */
    height: 200px;
    transition: transform 0.3s ease;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }
  
  .menu-item:hover {
    transform: scale(1.1);
    z-index: 1; /* Ensure the hovered item is on top */
  }
  
  .menu-item i {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .menu-item a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  