<div class="container">
<app-master-side-nav-bar *ngIf="userTypeID == 1"></app-master-side-nav-bar>
<app-side-nav-bar *ngIf="userTypeID == 2"></app-side-nav-bar>
  <div class="navigation">
    <i class="bi bi-arrow-left-circle back-icon" (click)="goBack()"></i>
    <div class="page-title">
      <h1>Unapproved Uploaded Contracts
        <i class="bi bi-info-circle" (click)="openHelpModal()"></i>
      </h1>
    </div>
    <app-contract-dropdown-nav></app-contract-dropdown-nav>
  </div>

  <input
    type="text"
    class="search-bar"
    placeholder="Search by name or surname..."
    [(ngModel)]="searchTerm"
    (input)="filterMembers()"
  />

  <table class="table table-hover table-centered">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>Member Name</th>
        <th>Member Surname</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of filteredMembers">
        <td>{{ member.member_ID }}</td>
        <td>{{ member.memberName }}</td>
        <td>{{ member.memberSurname }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Help Information Modal -->
<div *ngIf="showHelpModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Help Information</h2>
        <button class="btn-close" (click)="closeHelpModal()">×</button>
      </div>
      <div class="modal-body">
        <p>This screen is to assist with the "Create Contract" process. These are the members who have a signed contract uploaded and still need a created contract record. Search and find any member via entering their name in the search bar.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeHelpModal()">Close</button>
      </div>
    </div>
  </div>
</div>
