<!DOCTYPE html>
<html lang="en">
  
<app-master-side-nav-bar *ngIf="userTypeID == 1"></app-master-side-nav-bar>
<app-side-nav-bar *ngIf="userTypeID == 2"></app-side-nav-bar>
  
<div class="gap-container"></div>

<div class="header-search-container">
  <i class="bi bi-arrow-left-circle header-icon" (click)="goBack()"></i>
  <h1 class="header-title">Manage VAT</h1>
  <span class="help-icon-container">
      <a class="navbar-brand help-icon" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">
          <i class="bi bi-info-circle-fill">Help</i>
      </a>
  </span>
</div>

<div class="vat-container">
    <p><strong>Current VAT Percentage: </strong> {{vat?.vaT_Percentage}}%</p>
    <p><strong>Last Updated: </strong> {{vat?.vaT_Date | date }}</p>
    <button mat-raised-button color="primary" (click)="openEditModal()">Update VAT</button>
</div>

  <!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Update VAT</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="vatForm">
                <div class="form-group">
                  <label for="vaT_Percentage">VAT Percentage</label>
                  <input type="number" id="vaT_Percentage" formControlName="vaT_Percentage" class="form-control" name="vaT_Percentage">
                  <div *ngIf="vatForm.get('vaT_Percentage')?.invalid && (vatForm.get('vaT_Percentage')?.dirty || vatForm.get('vaT_Percentage')?.touched)">
                    <small class="text-danger" *ngIf="vatForm.get('vaT_Percentage')?.errors?.['required']">VAT Percentage is required.</small>
                    <small class="text-danger" *ngIf="vatForm.get('vaT_Percentage')?.errors?.['min']">VAT Percentage must be at least 1.</small>
                    <small class="text-danger" *ngIf="vatForm.get('vaT_Percentage')?.errors?.['max']">VAT Percentage cannot be more than 100.</small>
                  </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="updateVAT()">Update</button>
        </div>
      </div>
    </div>
</div>

<!-- help-modal.component.html -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title mx-auto" id="helpModalLabel">Help Guide</h5>
        <div class="search-bar-container">
          <input type="text" class="form-control search-bar" placeholder="Search help" [(ngModel)]="searchTerm" (input)="filterHelpContent()">
        </div>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of filteredContent">
          <h5>{{ item.title }}</h5>
          <p [innerHTML]="item.content"></p>
        </div>
      </div>
    </div>
  </div>
</div>
