<!DOCTYPE html>
<html lang="en">
    <a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">
        <i class="bi bi-info-circle-fill"> Help</i>
      </a>
<h2>Create Supplier</h2>
<div class="form-container">
    <form #formCtrl="ngForm"  [formGroup]="registerFormGroup">
        <div>
            <label for="name">Supplier Name:</label>
            <input type="text" id="name" name="name" required [(ngModel)]="supplierName" size="35" placeholder="e.g FitnessGear"  maxlength="20"  formControlName="name">

            <div *ngIf="registerFormGroup.controls['name'].invalid && (registerFormGroup.controls['name'].dirty || registerFormGroup.controls['name'].touched)" class="text-danger">
                <div *ngIf="registerFormGroup.controls['name'].errors?.['required']">Name is required.</div>
                <div *ngIf="registerFormGroup.controls['name'].errors?.['minlength']">Name must be at least 2 characters long.</div>
                <div *ngIf="registerFormGroup.controls['name'].errors?.['maxlength']">Name must be at most 20 characters long.</div>
              </div>

        </div>
       
        <div>
            <label for="PhoneNumber">Supplier Contact Number:</label>
            <input type="tel" id="PhoneNumber" name="PhoneNumber" required [(ngModel)]="supplierNumber" size="35" placeholder="e.g 011 258 4215" (input)="validateNumber($event)" minlength="6" maxlength="10" formControlName="PhoneNumber">

            <div *ngIf="registerFormGroup.controls['PhoneNumber'].invalid && (registerFormGroup.controls['PhoneNumber'].dirty || registerFormGroup.controls['PhoneNumber'].touched)" class="text-danger">
                <div *ngIf="registerFormGroup.controls['PhoneNumber'].errors?.['required']">Phone Number is required.</div>
                <div *ngIf="registerFormGroup.controls['PhoneNumber'].errors?.['minlength']">Phone Number must be at least 6 digits.</div>
                <div *ngIf="registerFormGroup.controls['PhoneNumber'].errors?.['maxlength']">Phone Number must be at most 10 digits.</div>
              </div>
           
        </div>
        <div>
            <label for="duration">Supplier Email Address:</label>
            <input type="text" id="duration" name="duration" required [(ngModel)]="emailAddress" size="35" placeholder="e.g fitnessgear@gmail.com" maxlength="30" formControlName="email">
            
            <div *ngIf="registerFormGroup.controls['email'].invalid && (registerFormGroup.controls['email'].dirty || registerFormGroup.controls['email'].touched)" class="text-danger">
                <div *ngIf="registerFormGroup.controls['email'].errors?.['required']">Email is required.</div>
                <div *ngIf="registerFormGroup.controls['email'].errors?.['email']">Email is invalid.</div>
              </div>
          
        </div>



        <div>
          <label for="street">Supplier Physical Address:</label>

          <!-- Country Dropdown -->
          <p>Country:</p>
          <select id="country" name="country" required [(ngModel)]="country" formControlName="country">
            <option value="" disabled>Select Country</option> <!-- Placeholder option -->
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
          </select>
          
          <!-- Error message for Country -->
          <div *ngIf="registerFormGroup.controls['country']?.invalid && (registerFormGroup.controls['country']?.dirty || registerFormGroup.controls['country']?.touched)" class="text-danger">
            <div *ngIf="registerFormGroup.controls['country']?.errors?.['required']">Country is required.</div>
          </div>
          
          <!-- Province/District based on country selection -->
          <p *ngIf="country === 'South Africa'">Province:</p>
          <select *ngIf="country === 'South Africa'" id="province" name="province" required [(ngModel)]="province" formControlName="province">
            <option value="" disabled>Select Province</option> <!-- Placeholder option -->
            <option *ngFor="let province of southAfricaProvinces" [value]="province">{{province}}</option>
          </select>
          
          <p *ngIf="country === 'Botswana'">District:</p>
          <select *ngIf="country === 'Botswana'" id="district" name="province" required [(ngModel)]="district" formControlName="province">
            <option value="" disabled>Select District</option> <!-- Placeholder option -->
            <option *ngFor="let district of botstwanaDistricts" [value]="district">{{district}}</option>
          </select>
          
          <!-- Error handling for Province/District -->
          <div *ngIf="registerFormGroup.controls['province']?.invalid && (registerFormGroup.controls['province']?.dirty || registerFormGroup.controls['province']?.touched)" maxlength="100" class="text-danger">
            <div *ngIf="registerFormGroup.controls['province']?.errors?.['required'] && country === 'South Africa'">Province is required.</div>
            <div *ngIf="registerFormGroup.controls['province']?.errors?.['required'] && country === 'Botswana'">District is required.</div>
          </div>
          
          <p *ngIf="cities.length > 0">City:</p>
          <select *ngIf="cities.length > 0" id="city" name="city" required [(ngModel)]="city" formControlName="city">
            <option value="" disabled selected>Select City</option>
            <option *ngFor="let city of cities" [value]="city">{{city}}</option>
          </select>


                <div *ngIf="registerFormGroup.controls['city'].invalid && (registerFormGroup.controls['city'].dirty || registerFormGroup.controls['city'].touched)" class="text-danger">
                    <div *ngIf="registerFormGroup.controls['city'].errors?.['required']">City is required.</div>
                 
            </div> 

            <!-- Suburb/Town Input (shown only if city is filled) -->
          <div *ngIf="city">
            <p for="suburb">Suburb/Town:</p>
            <input type="text" id="suburb" name="suburb" required [(ngModel)]="suburb" formControlName="suburb" placeholder="e.g Sandton"  maxlength="20" />
          </div>
          <div *ngIf="registerFormGroup.get('suburb')?.invalid && (registerFormGroup.get('suburb')?.dirty || registerFormGroup.get('suburb')?.touched)" class="text-danger">
            <div *ngIf="registerFormGroup.get('suburb')?.errors?.['required']">Suburb/Town is required.</div>
            <div *ngIf="registerFormGroup.controls['suburb'].errors?.['minlength']">Suburb/Town must be at least 2 characters.</div>
            <div *ngIf="registerFormGroup.controls['suburb'].errors?.['maxlength']">Suburb/Town must be at most 20 charcters.</div>
        </div>




          <!-- Street Address Input (shown only if city is filled) -->
          <div *ngIf="city">
            <p for="streetAddress">Street Address:</p>
            <input type="text" id="streetAddress" name="streetAddress" required [(ngModel)]="street" formControlName="streetName" placeholder="e.g 123 Silver Lane"  maxlength="20"/>
          </div>

          <div *ngIf="registerFormGroup.get('streetName')?.invalid && (registerFormGroup.get('streetName')?.dirty || registerFormGroup.get('streetName')?.touched)" class="text-danger">
            <div *ngIf="registerFormGroup.get('streetName')?.errors?.['required']">Street Address is required.</div>
            <div *ngIf="registerFormGroup.controls['streetName'].errors?.['minlength']">Street Address must be at least 6 characters.</div>
            <div *ngIf="registerFormGroup.controls['streetName'].errors?.['maxlength']">Street Address must be at most 50 charcters.</div>
        </div>

          <!-- Postal Code Input (shown only if city is filled) -->
          <div *ngIf="city">
            <p for="postalCode">Postal Code:</p>
            <input type="tel" id="postalCode" name="postalCode" required [(ngModel)]="postalCode" formControlName="postalCode" placeholder="e.g. 2196" (input)="validateNumber($event)" minlength="4" maxlength="8"ch/>
          </div>

            
            <div *ngIf="registerFormGroup.get('postalCode')?.invalid && (registerFormGroup.get('postalCode')?.dirty || registerFormGroup.get('postalCode')?.touched)" class="text-danger">
                <div *ngIf="registerFormGroup.get('postalCode')?.errors?.['required']">Postal Code is required.</div>
                <div *ngIf="registerFormGroup.controls['postalCode'].errors?.['minlength']">Postal Code must be at least 4 digits.</div>
            </div>
        </div>
       
        <div class="buttons">
            <a class="add" ><button type="submit" [disabled]="!formCtrl.form.valid" (click)="addSupplier(supplierName, emailAddress)" >Add</button></a>
    
            <a class="cancel" routerLink="/supplier"><button type="button">Cancel</button></a>
        </div>
    </form>
    </div>

    
<!-- help-modal.component.html -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h5 class="modal-title mx-auto" id="helpModalLabel">Help Guide</h5>
          <div class="search-bar-container">
            <input type="text" class="form-control search-bar" placeholder="Search help" [(ngModel)]="searchTerm" (input)="filterHelpContent()">
          </div>
        </div>
        <div class="modal-body">
          <div *ngFor="let item of filteredContent">
            <h5>{{ item.title }}</h5>
            <p [innerHTML]="item.content"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>