<!-- Logo and Title -->
<div class="logo-container">
  <h1 class="title">
    <i class="bi bi-arrow-left-circle" (click)="navigateToLogin()"></i>
    AV Motion
  </h1>
</div>

<!-- Forgot Password Card -->
<div class="register-wrapper">
  <div class="box">
    <div class="card" style="max-width: 500px; width: 100%;">
      <div class="card-header text-center d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0">Forgot Password</h4>
        <i class="bi bi-info-circle info-icon" (click)="toggleModal()"></i>
      </div>
      <div class="card-body">
        <form [formGroup]="forgotPasswordForm">
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
            <div *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)" class="text-danger">
              <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">Email is required.</div>
              <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">Invalid email address.</div>
              <div *ngIf="forgotPasswordForm.controls['email'].errors?.['invalidDomain']">Email domain is not valid.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-secondary" routerLink="/login">Cancel</button>
        <button class="btn btn-signup" (click)="onSubmit()">Reset</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" [ngClass]="{'show': showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Forgot Password Help</h5>
        <button class="btn-close" (click)="toggleModal()">&times;</button>
      </div>
      <div class="modal-body">
        <p>To reset your password, enter the email address associated with your account. You will receive a link to create a new password via email.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="toggleModal()">Close</button>
      </div>
    </div>
  </div>
</div>
