.register-wrapper {
    height: 100vh; /* Full screen height */
    background-color: #B08F26; /* Updated background color */
    background-size: cover; /* Ensures the image covers the entire background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    padding: 50px 50px 50px 130px;
    width: 100%;
    background: #000000; /* Changed background to white */
    border-radius: 10px;
    z-index: 5;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(143, 143, 143, 0.1);
}

.card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 200;
    color: #000000;
}

.card-title {
    font-size: 40px;
    margin: 0;
    font-family: Arial Black;
    color: #000000;
}

.form-group label {
    color: #000000;
}

.form-control {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    background-color: #ffffff; /* White background for inputs */
}

.form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.2);
}

.text-danger {
    color: #807c7c;
}

.btn-signup {
    background-color: #000000; /* Updated color for Sign-up button */
    border-color: #000000;
    color: #fff;
}

.btn-secondary {
    background-color: #676767;
    border-color: #676767;
    color: #fff;
}

.card-footer {
    padding: 20px;
}

.card-footer .btn {
    width: 48%;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.title {
    font-family: Arial Black;
    font-size: 2.5rem;
    color: #000000;
}

.info-icon {
    font-size: 3rem;
    color: #000000;
    margin-left: 10px;
    cursor: pointer;
}

/* Modal Background */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; /* Center modal content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    display: none; /* Hide by default */
    padding-right:20px;
}

/* Modal Dialog */
.modal-dialog {
    width: 80%; /* Adjust width as needed */
    max-width: 500px; /* Adjust maximum width as needed */
   


}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
}

/* Modal Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Modal Title */
.modal-title {
    margin: 0;
}

/* Close Button */
.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer; /* Pointer cursor for better UX */
}

/* Show the modal when showModal is true */
.modal.show {
    display: flex; /* Show the modal */
}
