.header-search-container {
    position: absolute; /* Positioning it absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    margin-left: 1rem; /* Create margin from the left edge */
    margin-top: 80px; /* Create margin from the top edge */
}

.header-icon {
    font-size: 3rem; /* Set the icon size to 3rem */
    cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */
}

.simulate-time-container {
    margin: 20px;
    margin-top: 80px; /* Keep this for spacing from the top */
    text-align: center; /* Center the text and the elements */
    max-width: 300px; /* Optional: Limit the width of the container */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    margin-top: 120px; /* Create margin from the top edge */
}

label {
    margin-right: 10px;
    font-weight: bold;
    display: block; /* Ensure label stays above input and button */
}

input {
    width: 50px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.snackbar-success {
    background-color: #4caf50;
    color: white;
}

.snackbar-error {
    background-color: #f44336;
    color: white;
}

.snackbar-warning {
    background-color: #ff9800;
    color: white;
}
